# Dépendances et environnements virtuels locaux
.venv/
venv/
env/
ENV/
pyvenv.cfg
.pytest_cache/

# Fichiers de cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Fichiers journaux et logs locaux
*.log
bot.log

# Téléchargements et données temporaires locales
downloads/
default_thumbs/
*.session
*.session-journal

# Configuration locale et clés secrètes
.env

# Fichiers système et éditeurs de code
.git/
.gitignore
.vscode/
.idea/
.DS_Store
